@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&subset=chinese-traditional');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'Heiti TC', 'Segoe UI', SegoeUI, sans-serif;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    -webkit-text-size-adjust: none;
    text-align: center;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a,
a:hover,
a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
html[lang="en"] p, html[lang="en"] p a, html[lang="en"] li a, h5{
    letter-spacing: 0.3px!important;
    font-family: 'Montserrat', sans-serif!important;
}
/*=================
color
#DCE4EF   灰藍
#CFD9E8   深灰藍
#00935F   綠色
#FFDB00   黃色
#003265   藍色
=======================*/
/*==================================================================================================*/
/*====================banner=============================*/
.banner {
    margin-top: 97px;
}

.variable {
    background-color: #00935F;
}

.slick-slide {
    height: 390px;
}

.banner-slide-wrapper {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

.banner-slide-wrapper .text-area {
    width: 35%;
    height: auto;
    padding: 40px;
    color: #FFF;
    text-align: left;
}

.banner-slide-wrapper .text-area h1,
.banner-slide-wrapper .text-area h2 {
    margin-bottom: 12px;
    font-weight: 300;
}
html[lang="en"] .banner-slide-wrapper .text-area h2 {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 24px;
}

.banner-slide-wrapper .text-area h1 {
    font-size: 32px;
    letter-spacing: 3px;
    line-height: 35px;
}

.banner-slide-wrapper .text-area h2 {
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 25px;
}

.banner-slide-wrapper .text-area h3 {
    font-size: 45px;
    letter-spacing: 2.5px;
    line-height: 50px;
    font-weight: 400;
}

.banner-slide-wrapper .img-wrapper {
    height: 420px;
    width: 65%;
    overflow: hidden;
    position: relative;
}

.banner-slide-wrapper .img-wrapper img {
    min-height: 420px;
    min-width: 950px;
    max-width: 950px;
    width: auto;
    position: relative;
    top: -35%;
}

.banner-slide-wrapper .img-wrapper:before {
    content: url(../images/banner-img-front.svg);
    position: absolute;
    right: 0;
    bottom: -5px;
    display: block;
    width: 154px;
    z-index: 999;
}

.banner .prev-arrow {
    position: absolute;
    top: 45%;
    left: 10px;
    z-index: 99;
    opacity: 0;
    -webkit-transition: all .6s !important;
    -moz-transition: all .6s !important;
    -o-transition: all .6s !important;
    transition: all .6s !important;
}

.banner .next-arrow {
    position: absolute;
    top: 45%;
    right: 10px;
    z-index: 99;
    opacity: 0;
    -webkit-transition: all .6s !important;
    -moz-transition: all .6s !important;
    -o-transition: all .6s !important;
    transition: all .6s !important;
}

.banner:hover .prev-arrow,
.banner:hover .next-arrow {
    opacity: 1;
}

.slick-dots {
    position: absolute;
    bottom: 15px !important;
    width: 100% !important;
    max-width: 1450px;
    text-align: left !important;
    left: calc(100vw*.14);
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #FFF !important;
}

.slick-dots li {
    margin: 0 1px !important;
}

/*====================banner=============================*/
/*====================header=============================*/
.top-menu {
    display: block;
    height: 97px;
    width: 100%;
    background-color: #FFF;
    position: fixed;
    z-index: 9999;
    top: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;

}

.top-menu.fix-bar {
    height: 85px;
    -webkit-box-shadow: 0px 1px 14px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 1px 14px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 1px 14px 0px rgba(50, 50, 50, 0.4);
}

.nav-logo {
    display: block;
}

.nav-logo img {
    height: 45px;
    width: auto;
}

.top-menu ul {
    list-style-type: none;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0;
    top: 0;
    width: 100%;
}

.top-menu li {
    float: left;
    position: relative;
}

.top-menu li:first-child a,
.top-menu li:first-child a:hover:not(.active) {
    padding-right: 160px;
    padding-top: 25px !important;
}

.top-menu li a {
    display: block;
    color: #070303;
    text-align: center;
    text-decoration: none;
    padding: 39px 26px;
    -webkit-transition: all .6s !important;
    -moz-transition: all .6s !important;
    -o-transition: all .6s !important;
    transition: all .6s !important;
}
.top-menu li:last-child{
    float: right;
    padding-right: 3%;
}
.top-menu li:last-child a, .top-menu li:last-child a:hover:not(.active){
    display: inline-block;
    padding: 40px 5px;
}
.top-menu li a:hover:not(.active) {
    display: block;
    color: #00935F;
    text-align: center;
    text-decoration: none;
    padding: 39px 26px;
}

.top-menu .active {
    color: #00935F;
}
.top-menu li:hover .sub-menu{
    opacity: 1;
}
.sub-menu{
    position: absolute;
    width: 180px!important;
    display: block;
    text-align: left;
    background-color: #FFF;
    top: 97px;
    opacity: 0;
    -webkit-transition: all .6s !important;
    -moz-transition: all .6s !important;
    -o-transition: all .6s !important;
    transition: all .6s !important;
}
.sub-menu.scroll{
    top: 85px;
}
.top-menu li:hover .sub-menu.scroll{
    top: 85px;
}
.sub-menu p{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 12px 30px;
}
.sub-menu a{
    padding: 0!important;
    text-align: left!important;
    font-size: 13px;
}
.sub-menu p:hover a{
    color: #FFF!important;
}
.sub-menu p:hover{
    background-color: #00935F;
    color: #FFF!important;
}
/*====================header=============================*/
/*====================index-news=============================*/

.news {
    padding-top: 90px;
    background-color: #FFF;
}

.news .news1 {
    width: 80%;
    float: right;
    background-color: #DCE4EF;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 460px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.news1.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.news1 .news1-pic,
.news2 .news1-pic {
    width: 28%;
    overflow: hidden;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateX(-50px);
}

.news1-pic.fade-in-left {
    opacity: 1;
    transform: translateX(0px);
}

.news1 .news1-pic img,
.news2 .news1-pic img {
    position: relative;
    width: auto;
    height: 460px;
    left: -50%;
}

.news1:before {
    content: url(../images/index-news-icon.svg);
    display: inline-block;
    position: absolute;
    z-index: 99;
    left: -120px;
    top: 175px;
}

.news1 .news1-list,
.news2 .news1-list {
    width: 72%;
    padding-right: 8%;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.news1-list.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.news1-list h2,
.news2-list h2 {
    font-family: 'Noto Sans TC';
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #302D2C;
    line-height: 23px;
}
html[lang="en"] .news1-list h2,
html[lang="en"] .news2-list h2 {
    font-family: 'Palanquin Dark', sans-serif;
}
.news1-list ul,
.news2-list ul {
    padding-top: 35px;
    padding-bottom: 35px;
}

.news1-list li,
.news2-list ul {
    margin-bottom: 15px;
}

.news1-list li a,
.news2-list li a {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: #302D2C;
}
html[lang="en"] .news1-list li a, html[lang="en"] .news2-list li a{
    letter-spacing: 0.3px!important;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 400;
}
.news1-list li a:hover {
    color: #003265;
}

.more {
    display: inline-block;
    position: absolute;
    padding-right: 24px;
    left: 0;
    bottom: 0;
    background-color: #FFDB00;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.more a {
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 15px;
    padding-right: 0px;
    color: #302D2C;
}

.more:after {
    content: url(../images/more-arrow.svg);
    position: relative;
    display: inline-block;
    margin-left: 4px;
    transform: scale(2);
    transform-origin: left;
    top: -3.5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.more:hover {
    padding-right: 40px;
}

.news .news2 {
    width: 90%;
    float: right;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #DCE4EF;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 540px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.news2.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.news2 .news1-pic {
    width: 33%;
}

.news2 .news1-list {
    width: 67%;
}

.news2 .news1-list .more {
    right: 0;
    left: auto;
    bottom: 80px;
}

/*====================index-news=============================*/
/*====================index-international=============================*/

.inter-wrapper {
    width: 80%;
    float: left;
    padding-left: 8.7%;
    background-color: #00935F;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 540px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.inter-wrapper.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.inter-list {
    width: 67%;
    padding-right: 8%;
    text-align: left;
    padding-top: 40px;
    padding-left: 25px;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.inter-list.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.inter-list h2 {
    font-family: 'Noto Sans TC';
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    line-height: 23px;
}

.inter-list ul {
    padding-top: 35px;
    padding-bottom: 35px;
}

.inter-list li {
    margin-bottom: 15px;
}

.inter-list li a {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: #FFF;
}
html[lang="en"] .inter-list li a{
    letter-spacing: 0.3px!important;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 400;
}
.inter-list li a:hover {
    color: #FFDB00;
}

.inter-list .more {
    right: 0;
    left: auto;
    bottom: 80px;
}

.inter-pic {
    width: 45%;
    overflow: hidden;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateX(-50px);
}

.inter-pic.fade-in-left {
    opacity: 1;
    transform: translateX(0px);
}

.inter-pic img {
    position: relative;
    width: auto;
    height: 460px;
    min-width: 590px;
    left: 0%;
}

.inter-wrapper:before {
    content: url(../images/index-inter.svg);
    position: absolute;
    display: inline-block;
    z-index: 999;
    transform: scale(1.8);
    z-index: 999;
    top: 147px;
    right: -9.5%;
}

/*====================index-international=============================*/
/*====================index-photo=============================*/
.album-wrapper {
    float: left;
    width: 100%;
    background-color: #FFDB00;
    background-image: url(../images/album-bg.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 290px;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.album-wrapper.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.album-title {
    position: relative;
}

.album-title:before {
    content: url(../images/SchoolLife.svg);
    display: inline-block;
    position: absolute;
    left: 12.7%;
    top: 50px;
    transform: scale(1.5);
}

.album-title h2 {
    position: absolute;
    left: 9.5%;
    top: 96px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    z-index: 999;
}

.album-title a {
    color: #000;
}

.album-list {
    width: 100%;
    padding-left: 15%;
    padding-right: 8%;
    padding-top: 105px;
    height: 420px;
}

.album-list .album-pic-wrapper {
    width: 195px !important;
    height: 195px;
    border-radius: 50%;
    overflow: hidden;
}

.album-list .album-pic-wrapper img {
    position: relative;
    width: 240px;
    height: auto;
    left: -5%;
    min-height: 200px;
}

.album-list .prev-arrow,
.album-list .next-arrow {
    display: block;
    position: absolute;
    right: 8%;
    top: 320px;
    cursor: pointer;
}

.album-list .next-arrow {
    top: 350px;
}

.album-list .prev-arrow img,
.album-list .next-arrow img {
    transform: scale(2);
}

.index-belt {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 120px;
    margin-bottom: 50px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.index-belt.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.index-belt img {
    width: 100%;
}

/*====================index-photo=============================*/
/*====================index-links=============================*/
.link-wrapper {
    width: 100%;
    float: left;
    position: relative;
    padding: 2% 13% 5% 9%;
}
html[lang="en"] .link-title {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: .2px;
}
.link-title {
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2.5px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 15px;
}

.slick-slide {
    text-align: left;
}

.link-wrapper li {
    background-color: #DCE4EF;
    padding: 20px;
    padding-bottom: 30px;
    text-align: left;
    width: calc(100vw*.18) !important;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}

.link-wrapper li a {
    color: #070303;
}

.link-wrapper li:after {
    content: url(../images/link-icon.svg);
    display: inline-block;
    position: absolute;
    transform: scale(1.4);
    right: 8px;
    bottom: 3px;
}

.link-wrapper li h5 {
    font-family: 'Noto Sans TC';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 20px;
}
html[lang="en"] p, html[lang="en"] a{
    letter-spacing: .4px;
}
html[lang="en"] h1, html[lang="en"] h2{
    letter-spacing: .6px!important;
}
html[lang="en"] .link-wrapper li h5 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 20px;
}
html[lang="en"] .link-wrapper li{
    padding-bottom: 10px;
}
.link-wrapper li p {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    font-size: 8px;
    letter-spacing: .5px;
}

.link-list .prev-arrow,
.link-list .next-arrow {
    display: block;
    position: absolute;
    right: -6%;
    top: 15px;
    cursor: pointer;
}

.link-list .next-arrow {
    top: 45px;
}

.link-list .prev-arrow img,
.link-list .next-arrow img {
    transform: scale(2);
}
.link-list li img{
    display: block;
    height: 68px;
    top: 10px;
    left: 10px;
    width: auto;
    max-width: 100%;
    position: absolute;
}
/*====================index-links=============================*/
/*====================footer============================*/
footer {
    float: left;
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.6px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 4%;
    padding-right: 4%;
    border-top: 1px solid #C1C1C1;
    text-align: center;
    color: #070303;
}

footer a {
    color: #070303;
}

.foot-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.foot-logo img {
    min-height: 68px;
    width: auto;
}

.foot-info {
    text-align: left;
    width: 50%;
    padding-left: 60px;
}

.foot-copyright {
    width: 30%;
    padding-top: 48px;
    font-size: 13px;
    letter-spacing: .6px;
    text-align: right;
}
html[lang="en"] .foot-copyright {
    padding-top: 48px;
    font-size: 11px;
    letter-spacing: .2px;
}
html[lang="en"] footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
}
/*====================footer============================*/
/*====================about============================*/
.indside-top{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    height: 260px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content:space-between;
}
#about.banner{
    background-color: #00935F;
    position: relative;
    margin-top: 97px;
}
.indside-top .text-area h3{
    font-family: 'Palanquin Dark', sans-serif;
    letter-spacing: .6px;
    font-size: 36px;
    font-weight: 600;
    line-height: 55px;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
    color: #FFF;
}
.indside-top .text-area::before{
   content:'';
  width:0;
  height: 100%;
  display:inline-block;
  position:relative;
  vertical-align:middle;
}
.indside-top .text-area {
    position: relative;
    width: 40%;
    height: 260px;
    text-align: left;
    padding-left: 30px;
}
#about .text-area {
    background-color: #00935F;
}
.img-wrapper {
    position: relative;
    width: 60%;
}
#about .img-wrapper:after{
    content: url(../images/about-top-icon.svg);
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: -4px;
    z-index: 999;
}
.img-wrapper img{
    min-width: 870px;
    top:-40%;
    position: relative;
} 

.page-title{
    width: 8%!important;
    padding: 5%;
    padding-top: 0;
    padding-left: 0;
    position: relative;
    font-family: 'Noto Sans TC';
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #302D2C;
    float: left;
}
.page-title span{
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #8E817C;
    margin-top: 20px;
    display: block;
    padding-left: 5px;
} 
.page-title p{
    writing-mode: vertical-lr;
  text-orientation: mixed;
  line-height: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 5px;
    color: #8E817C;
    font-weight: 400;
}
html[lang="en"] .page-title{
    writing-mode: vertical-lr;
  text-orientation: mixed;
}
#firstsection{
    width: 100%;
    position: relative;
    margin-top: 90px;
    padding:0 4%;
}
.inside-main{
    max-width: 1450px;
    margin: 0 auto;
}
.about-history{
    width: 92%;
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.about-history.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
.history-text-wrapper{
    width: 60%;
    background-color: #DCE4EF;
    padding: 6% 12% 10% 8%;
    position: relative;
    text-align: left;
}
.history-text-wrapper h1, .history-text-wrapper h2{
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 1.5px;
}
.history-text-wrapper h2{
    margin-bottom: 40px;
}
.history-text-wrapper .editor{
    line-height: 35px;
    text-align: justify;
}
.history-pic{
    width: 40%;
    position: relative;
    padding-top: 6%;
    margin-top: 170px;
}
.history-pic img{
    width: 115%;
    position: absolute;
    left: -15%;
}
.about-logo-wrapper{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 8%;
    padding-right: 0;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.about-logo-wrapper.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
.logo-pic{
    width: 40%;
}
.logo-pic img{
    width:100%;
}
.logo-text{
    width: 60%;
    padding-left: 10%;
    line-height: 35px;
}
.logo-text h1, .logo-text h2{
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 1.5px;
}
.logo-text h2{
    margin-bottom: 40px;
}

.about-traffic{
   width: 100%;
   max-width: 1450px;
   margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row; 
}
.about-traffic .editor{
    padding: 5% 0;
    line-height: 35px;
    text-align: justify;
}
.about-traffic img{
    width: 100%;
}
.about-traffic h1, .about-traffic h2{
    font-size: 32px;
    line-height: 60px;
}
.traffic-left{
    width: 50%;
    background-color: #00935F;
    text-align: left;
    padding: 4%;
    color: #FFF;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}
.traffic-left.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
.traffic-right{
    width: 50%;
    background-color: #FFDB00;
    text-align: left;
    padding: 4%;
    color: #000;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}
.traffic-right.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
.traffic-right h2{
    margin-top: 60px;
}
html[lang="en"] .traffic-right h2{
    margin-top: 0px;
}
.about-bottom-wrapper{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 5% 4%;
    position: relative;
}
.about-bottom-wrapper .editor{
    line-height: 35px;
}
.about-bottom-wrapper h1, .about-bottom-wrapper h2{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.about-bottom-wrapper h1{
    font-size: 24px;
}
.about-bottom-wrapper h2{
    margin-bottom: 35px;
}
.about-staff{
    width: 53%;
    text-align: left;
    padding: 5%;
    padding-bottom: 8%;
    background-color: #DCE4EF;
    position: relative;
    left: 30%;
    z-index: 998;
     -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}
.about-staff.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
.about-staff:before, .about-motto:before{
    content: url('../images/staff-icon.svg');
    transform: scale(1.8);
    display: inline-block;
    position: absolute;
    left: -6px;
    top: 58px;
}
.about-motto{
    width: 43%;
    text-align: left;
    padding: 5%;
    background-color: #003265;
    color: #FFF;
    float: right;
    position: relative;
    top: -50px;
    z-index: 999;
     -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateX(-50px);
}
.about-motto.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
.about-bottom-pic{
    width: 55%;
    position: absolute;
    top: 180px;
    z-index: 997;
     -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateX(50px);
}
.about-bottom-pic.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
.about-bottom-pic img{
    width: 100%;
}
.fix-bottom{
    width: 100%;
    padding: 5%;
    position: relative;
    float: left;
}
/*====================about============================*/
/*====================about-other============================*/
/* Style the tab */
.tab {
  float: left;
  border: 0px solid #ccc;
  width: 5%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: #CFD9E8;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}
html[lang="en"] .tab button {
    font-family: 'Palanquin Dark', sans-serif;
    height: 80px;
    width: 150px;
    margin-top: 45px;
    bottom: 50px;
    line-height: 20px;
    -webkit-transform: rotate(90deg) translateY(60%) translateX(-10px);
    -moz-transform: rotate(90deg) translateY(60%) translateX(-10px);
    -ms-writing-mode: tb-rl;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #98ACCB;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #DCE4EF;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 0px solid #ccc;
  width: 95%;
  border-left: none;
  min-height: 600px;
  margin-bottom: 90px;
  background-color: #DCE4EF;
  text-align: left;
  padding: 5%;
}
.about-tab {
    line-height: 35px;
    letter-spacing: 1.5px;
}
.about-tab h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px!important;
}
/*====================about-other============================*/
/*====================principle============================*/
#team.banner{
    background-color: #FFDB00;
}
#team .text-area h3 {
    color: #000;
}
#team .img-wrapper:after{
    content: url(../images/about-top-icon.svg);
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: -4px;
    z-index: 999;
}
.team-wrapper{
    width: 92%;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(50px);
}

.team-wrapper.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.team-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}
.team-top-left, .team-top-right{
    width: 50%;
    padding: 4%;
    text-align: left;
}

.team-top-left{
    background-color: #DCE4EF;
}
.team-top-right{
    background-color: #00935F;
    color: #FFF;
}
.team-top-left h2{
    font-family: 'Noto Sans TC';
    line-height: 52px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.team-top-left h3{
    font-family: 'Palanquin Dark', sans-serif;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: .6px;
}
.team-top-right h5, .team-top-right p{
    font-family: 'Noto Sans TC';
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.2px;
}
.team-top-right h5{
    margin-bottom: 60px;
    letter-spacing: 3px;
}

.team-main{
    display: block;
    position: relative;
    width: 100%;
    background-color: #DCE4EF;
    padding: 8%;
}
.team-main p{
    text-align: justify;
    line-height: 35px;
    letter-spacing: .6px;
}
.team-main img{
    max-width: 100%;
    margin-bottom: 30px;
    height: auto;
}
/*====================principle============================*/
/*====================teach============================*/
#teach-info.team-top-right{
    background-color: #FFDB00;
    color: #000;
}
.teacher{
    width: 30%;
    background-color: #003265;
    padding: 35px;
    color: #FFF;
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 3%;
}
.teacher:nth-child(3n){
    margin-right: 0;
}
/*====================teach============================*/
/*====================list============================*/
#inter.banner{
    background-color: #003265;
}
#inter .img-wrapper:after{
    content: url(../images/list-top-icon.svg);
    display: inline-block;
    position: absolute;
    right: -0.5px;
    bottom: -4.5px;
    z-index: 999;
}
.selector-wrapper{
    text-align: left;
    margin-bottom: 30px;
}
.selector-wrapper select{
    margin-right: 15px;
     position: relative;
background: #DCE4EF;
background-image: none;
display: inline-block;
width: 180px;
font-size: 15.5px;
letter-spacing: 3px;
font-weight: 400;
outline: none;
color:#000;
cursor: pointer;
z-index: 2;
border: 1px solid #DCE4EF;
padding: 15px 10px 15px 12px;
margin-bottom:0px!important;
border-radius:0!important;
text-overflow: '';
text-indent: 5px;
-moz-appearance: none;
-webkit-appearance: none;
}
.select-wrap, .input-wrap{
    display: inline-block;
    position: relative;
}
.selector-wrapper .select-wrap:before{
    content: url(../images/download-arrow.svg);
    position: absolute;
    display: inline-block;
    transform: scale(1.18);
    width: 12px;
    z-index: 9;
    left: 155px;
    top: 15px;
}
.selector-wrapper ::placeholder {
    color: rgba(1,1,1,.25);
}
.select-input{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    background: #DCE4EF;
    padding: 16px;
    font-size: 15px;
    color: rgba(0,0,0,.25);
    letter-spacing: 3px;
}
.select-input:focus{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 14px;
    outline: none !important;
   border:2px solid #00935F; 
}
.select-input:focus::placeholder {
   color: #DCE4EF; 
}
.selector-wrapper input ::placeholder {
    color: rgba(0,0,0,.25);
}
.input-wrap:before{
    content: url(../images/search-icon.svg);
    position: absolute;
    display: inline-block;
    transform: scale(1.18);
    width: 12px;
    z-index: 9;
    left: 170px;
    top: 15px;
}
.list-wrapper{
    width: 92%;
    position: relative;
    float: left;
    margin-bottom: 50px;
}
.list-wrapper ul li{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 23px;
}
.list-left{
    display: block;
    position: relative;
    width: 20%;
    height: 90px;
    overflow-y: hidden;
    background-color: #FFDB00;
    background-image: url(../images/list-bg.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.list-left img{
    width: 100%;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.list-left a:hover img{
    opacity: .3;
}
.list-left a{
    position: relative;
}
.list-left a:hover:after{
    content: url(../images/list-hover-icon.svg);
    position: relative;
    right: -60px;
    top: -73px;
    display: inline-block;
    z-index: 999;
}
.list-left:hover{
    background-color: #00935F;
    background-image: url(../images/list-hover-bg.svg);
    background-position: left center;
    background-repeat: no-repeat;
}
.list-right{
    width: 80%;
    text-align: left;
    padding-left: 25px;
}
.list-title{
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #003265;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.list-intro{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.6px;
    color: #302D2C;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.list-date{
    font-size: 11px;
    line-height: 22px;
    color: #00935F;
    letter-spacing: 1.2px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
html[lang="en"] .list-title, html[lang="en"] .list-intro, html[lang="en"] .list-date{
    letter-spacing: .2px;
} 
.list-right a:hover .list-title, .list-right a:hover .list-intro, .list-right a:hover .list-date{
    color: #00935F;
}
.pagination{
    width: 92%;
    position: relative;
    height: 120px;
    float: right;
}
.pagination ul{
    display: flex;
    flex-direction: row;
}
.pagination ul li{
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background-color: #FFDB00;
    margin-right: 15px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.pagination ul li:hover, .pagination ul .active{
   background-color: #00935F;
   cursor: pointer;
   color: #FFF;
}

/*detail*/

.list-detail-wrapper .team-top-left{
    width: 95%;
}
.team-top-left h2{
    font-weight: 500;
}
.team-top-left p{
    color: #00935F;
}
.list-detail-wrapper .team-top-right {
    width: 5%;
}
.control-wrapper{
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.goback{
    width: 166px;
    height: 48px;
    background-color: #FFDB00;
    color: #000;
    line-height: 48px;
    position: relative;
}
.goback a{
    color: #000;
    font-weight: 600;
    letter-spacing: 1.2px;
    position: relative;
    padding-left: 0;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.goback a:hover{
    padding-left: 20px;
}
.goback a:hover:before{
    content: url(../images/goback-arrow.svg);
    display: inline-block;
    position: relative;
    left: -12px;
}
.category{
    text-align: center;
    padding-right: 1.5%;
    line-height: 48px;
    letter-spacing: 1.2px;
}
.category a{
    color: #000;
}
.download-wrapper{
    width: 100%;
    padding: 2% 8%;
    padding-bottom: 0;
    background-color: #CFD9E8;
}
.download-item{
    width: 23%;
    display: inline-block;
    position: relative;
    margin-right: 2.5%;
    background-color: #FFDB00;
    height: 48px;
    margin-bottom: 25px;
    line-height: 48px;
    text-align: left;
    padding-left: 18px;
    letter-spacing: 1.4px;
    float: left;
    cursor: pointer;
}
.download-item:after{
    content: url(../images/download-icon.svg);
    display: inline-block;
    position: absolute;
    right: 18px;
    transform: scale(1.5);
}
.download-item:nth-child(4n){
    margin-right: 0;
}
.public-main h2{
    text-align: left;
    margin-bottom: 30px;
}
/*====================list============================*/
/*====================album============================*/

#life.banner{
    background-color: #E33D2A;
}
#life .text-area {
    background-color: #E33D2A;
}
#life .img-wrapper:after{
   content: url(../images/list-top-icon.svg);
    display: inline-block;
    position: absolute;
    right: -0.5px;
    bottom: -4.5px;
    z-index: 999;
}
.album-list-wrapper{
    width: 92%;
    position: relative;
    float: left;
    margin-bottom: 50px;
}
.album-list-wrapper ul li{
    display: inline-block;
    width: 22%;
    position: relative;
    margin-bottom: 23px;
    margin-right: 20px;
}
.album-list-wrapper ul{
  display: block;
  text-align: left;
  margin-top: 30px;
}
.list-album{
    display: block;
    position: relative;
    width: 100%;
    height: 170px;
    overflow-y: hidden;
    background-color: #FFDB00;
    background-image: url(../images/list-bg.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.list-album img{
    width: auto;
    height: 100%;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.list-album a:hover img{
    opacity: .3;
}
.list-album a{
    position: relative;
}
.list-album a:hover:after{
    content: url(../images/list-hover-icon.svg);
    position: relative;
    right: -150px;
    top: -116px;
    display: inline-block;
    z-index: 999;
}
.list-album:hover{
    background-color: #00935F;
    background-image: url(../images/list-hover-bg.svg);
    background-position: left center;
    background-repeat: no-repeat;
}
.album-name{
    display: block;
    width: 120px;
    position: absolute;
    z-index: 9;
    letter-spacing: 1.2px;
    bottom: 20px;
    left: 20px;
    color: #000; 
    background-color: #FFDB00;
    padding: 8px;
    text-align: left;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.list-album:hover .album-name{
    bottom: 60px;
    color: #FFF;
    background-color: rgba(0,147,95,0);
}
/*====================album detail============================*/

/*.row > .column {
  padding: 0 8px;
}*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  height: 20vh;
  overflow: hidden;
  margin-bottom: 15px;
  padding-right: 15px;
}
.column:first-child {
    padding-right: 15px!important;
    padding-left: 0!important;
}
.column:nth-child(3n+1){
  padding-right: 15px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, .9);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
    position: absolute;
    top: 60px;
    right: 25px;
    font-size: 25px;
    font-weight: bold;
    z-index: 9999999999;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.modal-content .prev,
.modal-content .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  opacity: 1;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.modal-content .prev{
  left: -50px;
}
.modal-content .next {
    right: -50px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  opacity: .7;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.column img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*====================album============================*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #003265;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  padding-left: 40px;
}

.overlay a{
  color: #FFF;
}
.mobile-menu-item a{
   padding: 18px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #00935F;
    letter-spacing: 1.5px;
  display: block;
  transition: 0.3s; 
}
.mobile-active{
    color: #FFDB00!important;
}
.mobile-menu-lang{
    margin-right: 30px;
    text-align: right;
    color: #FFF;
}
.mobile-menu-lang a{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
display: inline-block;
text-decoration: none;
  font-size: 15px;
  color: #FFF;
  transition: 0.3s; 
}
.mobile-sub {
   margin-left: 5px;
   margin-top: -15px;
}
.mobile-sub li{
   display: inline-block; 
}
.mobile-sub a{
    font-size: 14px;
    line-height: 24px;
    padding: 5px 8px;
    letter-spacing: 2px;
    color: #FFF;
    display: inline-block;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 14px;
  font-size: 25px;
}
.hamburger{
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    width: 26px;
    top: 22px;
    right: 20px;
    z-index: 9999;
    display: none;
}
@media only screen and (max-width: 1280px){
    .top-menu li:not(.nav-logo) {
       display: none;
    }
.hamburger {
    display: block;
}
}
@media only screen and (max-width: 1024px){
    
  .overlay {
    overflow-y: auto;
}
  .overlay .closebtn {
  font-size: 24px;
    top: 15px;
    right: 20px;
  }
/*====================== menu =======================*/
  .foot-wrapper {
    display: flex;
    flex-direction: column;
   }
   .foot-info {
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
  }
  .foot-copyright {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
.indside-top {
    height: 260px;
    display: flex;
    flex-direction: column;
}
.indside-top .text-area {
    position: relative;
    width: 100%;
    height: 90px;
}

.img-wrapper {
    width: 100%;
    height: 170px;
}
.img-wrapper img {
    min-width: 320px;
    width: 100vw;
    top: 0%;
}
#inter .img-wrapper:after {
    right: -2px;
    bottom: -5px;
}
#firstsection {
    margin-top: 30px;
}
.page-title {
    font-size: 15px;
}
/*====================== footer+top =======================*/
.selector-wrapper select {
    width: 100%;
    font-size: 12.5px;
    margin-right: 0;
}
.selector-wrapper .select-wrap:before {
    left: 85%;
}
.select-wrap{
    width: 49%;
}
.select-wrap:nth-child(2){
    right: -3px;
}
.input-wrap{
    width: 100%;
}
.select-input {
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
}
.input-wrap:before {
    left: 90%;
    top: 25px;
}
.list-left img {
    width: auto;
    height: 100%;
    position: relative;
    left: -29%;
}
.list-title {
    font-size: 15px;
    line-height: 20px;
}
.list-intro {
    font-size: 13px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.indside-top .text-area h3 {
    font-size: 26px;
}
.control-wrapper {
    margin-top: 0px;
}
.team-top-left h2 {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 15px;
}
.team-top-left h3 {
    font-size: 18px;
    line-height: 20px;
}
.team-top {
    margin-bottom: 20px;
}
.team-main img {
    margin-bottom: 10px;
}
.download-item {
    width: 100%;
    margin-right: 2.5%;
}
.public-main h2 {
    font-size: 19px;
    text-align: left;
    margin-bottom: 10px;
}
.teacher {
    width: 100%;
    background-color: #003265;
    padding: 15px;
    color: #FFF;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 0%;
}
.tab {
    width: 13%;
}
.tabcontent {
    width: 85%;
}
.about-tab h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px!important;
}
.history-pic img {
    width: 100%;
    position: relative;
    left: 0;
}
.history-text-wrapper {
    width: 100%;
}
.history-pic {
    width: 100%;
    padding-top: 0%;
    margin-top: 0px;
}
.about-history {
    width: 92%;
    position: relative;
    flex-direction: column;
}
.history-text-wrapper h1, .history-text-wrapper h2 {
    font-size: 22px;
    line-height: 30px;
}
.history-text-wrapper h2 {
    margin-bottom: 10px;
}
.about-logo-wrapper {
    display: flex;
    flex-direction: column;
}
.logo-pic {
    width: 100%;
    text-align: center;
}
.logo-pic img {
    width: 80%;
    margin: 0 auto;
}
.logo-text {
    width: 100%;
    padding-left: 0%;
    line-height: 26px;
}
.logo-text h1, .logo-text h2 {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}
.logo-text h1{
    margin-top: 20px;
}
.logo-text h2 {
    margin-bottom: 10px;
}
.about-traffic {
    flex-direction: column;
}
.traffic-left {
    width: 100%;
    padding: 8%;
}
.about-traffic h1, .about-traffic h2 {
    font-size: 22px;
    line-height: 30px;
}
.about-traffic .editor {
    padding: 5% 0;
    line-height: 26px;
    margin-bottom: 10px;
}
.traffic-right {
    width: 100%;
    padding: 8%;
}
.traffic-right h2 {
    margin-top: 0px;
}
.about-staff {
    width: 73%;
    left: 20%;
}
.about-motto {
    width: 63%;
    top: -20px;
}
.about-bottom-pic {
    width: 75%;
    top: 280px;
}
.about-bottom-wrapper h1 {
    font-size: 18px;
}
.about-bottom-wrapper h1, .about-bottom-wrapper h2 {
    font-size: 18px;
}
.about-bottom-wrapper h2 {
    margin-bottom: 5px;
}
.about-staff:before, .about-motto:before {
    content: url(../images/staff-icon.svg);
    transform: scale(1.2);
    display: inline-block;
    position: absolute;
    left: -32px;
    top: -5px;
}
.album-list-wrapper ul li {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
}
.album-list-wrapper ul li:nth-child(2n){
    margin-right: 0;
}
.goback {
    width: 160px;
}
.column {
    float: left;
    width: 50%;
    height: 15vh;
    overflow: hidden;
}
.page-title p {
    line-height: 20px;
    font-size: 12px;
    padding-left: 0px;
}
.page-title span {
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
    padding-left: 3px;
}
.modal {
    padding-top: 30vh;
}
.modal-content .prev {
    left: -8px;
}
.modal-content .prev, .modal-content .next {
    top: 60%;
    padding: 0;
}
.modal-content .next {
    right: -15px;
    width: 30px;
    left: auto;
}
/*====================== news/inter/download list =======================*/
.banner-slide-wrapper {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}
.banner-slide-wrapper .text-area {
    width: 100%;
    height: auto;
    padding: 20px;
}
.banner-slide-wrapper .text-area h1 {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 25px;
}
.banner-slide-wrapper .text-area h2 {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 20px;
}
.banner-slide-wrapper .text-area h3 {
    font-size: 35px;
    letter-spacing: 2.5px;
    line-height: 40px;
    font-weight: 400;
}
.banner-slide-wrapper .img-wrapper {
    height: 320px;
    width: 100%;
}
.banner-slide-wrapper .img-wrapper img {
    min-height: auto; 
    min-width: auto; 
    max-width: auto; 
    width: auto;
    height: 100%;
    position: relative;
    top: 0;
}
.news .news1 {
    width: 100%;
    flex-direction: column;
    height: auto;
}
.news1:before {
    left: auto;
    transform: scale(.7);
    top: 15px;
    right: -35px;
}
.news1 .news1-pic, .news2 .news1-pic {
    width: 70%;
}
.news1 .news1-list, .news2 .news1-list {
    width: 100%;
    padding-right: 8%;
    padding-top: 0px;
    padding-left: 30px;
}
.news1-list h2, .news2-list h2 {
    font-family: 'Noto Sans TC';
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #302D2C;
    line-height: 23px;
    position: absolute;
    top: -100px;
    right: -328px;
}
.news1-list ul, .news2-list ul {
    padding-top: 15px;
    padding-bottom: 55px;
}
.news .news2 {
    width: 100%;
    float: right;
    padding-left:0;
    padding-right:0;
    background-color: #DCE4EF;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: auto;
}
.news2 .news1-list .more {
    right: 0;
    left: auto;
    bottom: 0px;
}
.news1 .news1-pic img, .news2 .news1-pic img {
    height: 290px;
}
.inter-wrapper {
    width: 96%;
    float: right;
    padding-left: 0%;
    background-color: #00935F;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
}
.inter-wrapper:before {
    transform: scale(1);
    top: 580.5px;
    right: 0;
}
.inter-list {
    width: 100%;
    padding-right: 8%;
    text-align: left;
    padding-top: 40px;
    padding-left: 25px;
}
.inter-pic {
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    right: 90px;
}
.inter-pic img {
    position: relative;
    width: auto;
    height: 268px;
    min-width: auto;
    left: auto;
    bottom: -3.5px;
    right: -40px;
}
.inter-list .more {
    right: 0;
    left: auto;
    bottom: -3px;
}
.top-menu {
    display: block;
    height: 97px;
    width: 100vw;
    overflow: hidden;
}
.album-title:before {
    left: 4%;
    top: 30px;
    transform: scale(1);
}
.album-title h2 {
    left: 4%;
    top: 76px;
}
.album-list .album-pic-wrapper {
    width: 145px !important;
    height: 145px;
}
.album-wrapper {
    background-size: 190px;
}
.album-list {
    width: 100%;
    padding-left: 15%;
    padding-right: 8%;
    padding-top: 105px;
    height: 380px;
}
.album-list .prev-arrow, .album-list .next-arrow {
    display: block;
    position: absolute;
    right: 8%;
    top: 280px;
    cursor: pointer;
}
.album-list .next-arrow {
    top: 310px;
}
.index-belt {
    margin-top: 0px;
    margin-bottom: 30px;
}
.link-wrapper li {
    width: 100% !important;
}
.link-list .prev-arrow, .link-list .next-arrow {
    right: -11%;
}
html[lang="en"] .news1-list h2, html[lang="en"] .news2-list h2 {
    font-family: 'Palanquin Dark', sans-serif;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}
html[lang="en"] .news1 .news1-list h2{
    display: none;
}
html[lang="en"] .news1-list h2{
    display: block;
    top: -110px;
    right: -348px;
}
html[lang="en"] h1, html[lang="en"] h2, html[lang="en"] h3{
    font-family: 'Palanquin Dark', sans-serif;
}
html[lang="en"] p{
    letter-spacing: 0.2px!important;
    font-size: 13px;
    line-height: 28px;
}
html[lang="en"] .inter-wrapper:before {
    transform: scale(1);
    top: 523.5px;
}

html[lang="en"] .tab button {
    font-family: 'Palanquin Dark', sans-serif;
    height: 60px;
    width: 120px;
    margin-top: 55px;
    bottom: 50px;
    font-size: 13px;
    line-height: 15px;
    padding: 15px;
    -webkit-transform: rotate(90deg) translateY(-4%) translateX(-25px);
    -moz-transform: rotate(90deg) translateY(-4%) translateX(-25px);
    -ms-writing-mode: tb-rl;
}
/*====================== index =======================*/
}
@media only screen and (max-width: 690px){
    html[lang="en"] .tab button {
    font-family: 'Palanquin Dark', sans-serif;
    height: 50px;
    width: 120px;
    margin-top: 55px;
    bottom: 50px;
    font-size: 13px;
    line-height: 15px;
    padding: 10px;
    -webkit-transform: rotate(90deg) translateY(70%) translateX(-20px);
    -moz-transform: rotate(90deg) translateY(70%) translateX(-20px);
    -ms-writing-mode: tb-rl;
}
}

